html,body{
    background-image: url('https://fondosmil.com/fondo/10858.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 141%;
    font-family: 'Numans', sans-serif;
    }