html,body{
    background-image: url('https://fondosmil.com/fondo/8572.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 164%;
    font-family: cursive;
    }
    .font-family{
        font-family: cursive;
        }
        .color1{
            color:red
        }
        .relleno{
            background-color:  rgb(122, 45, 17);
        }
        .margen{
            border-style: solid;
        }
        .letra{
            font-family:cursive;
        }
        .relleno1{
            background-color: royalblue;
        }
    